@font-face {
    font-family: squidFont;
    src: url(squid-game-font/Game\ Of\ Squids.otf);
}

html>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: squidFont, 'Comic Neue', cursive;
}



html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
.container,
.markers,
input {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

body {

    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #041420;
    gap: 6rem;
}


.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.middle>* {
    margin-bottom: 2rem;
}

.winnerText {
    margin-bottom: 0px;
    color: white
}

.title {
    color: #F65158;
    text-align: center;
    font-size: 5.5rem;
    margin-bottom: 0px;
    padding: 0px;
}


.playervs {
    color: #F65158;
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
}


.logos {
    display: flex;
}

.logos>*>* {
    width: 220px;
    height: 220px;
    color: #F65158 !important;
}



.gamebtn {
    width: 120px;
    height: auto;
    padding: 10px 20px;
    /* display: none; */
    cursor: pointer;
    /* background-color: #081b29; */
    background-color: #041420;
    color: #F65158;
}

.gamebtn:hover {
    background-color: #0f2537;
    transition: .2s;
    transform: translateY(-2px);
}

.markers {
    color: #858585;
    font-size: 1rem;
    height: 500px;
    width: 156px;
    align-self: center;
    border-radius: 1rem;
    border: 2px solid #F65158;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.markers-hide {
    display: none;
}

.markers>div {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.containerText {
    width: 100%;
    text-align: center;
}

.option {

    border-radius: 16px;
    width: 100%;
    height: 100%;
    justify-self: center;
    cursor: grab;
}

button {
    border: 2px solid #858585;
    border-radius: 16px;
    width: 50%;
    height: 60%;
    color: red;
    justify-self: center;
}

.container {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: relative;
    right: 11px;
}

.container-beforeGame {
    display: none
}

.box {
    border: 5px solid #F65158;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.box>p {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#box-1,
#box-2,
#box-0 {
    border-top: none;
}

#box-6,
#box-7,
#box-8 {
    border-bottom: none;
}


#box-0,
#box-3,
#box-6 {
    border-left: none;
}

#box-2,
#box-5,
#box-8 {
    border-right: none;
}




.triangle {
    color: red;
}

.star {
    color: gold;
}

.umbrella {
    color: #0c6eb9;
}

.circle .icon-inner {
    border: 1px solid white;
}

.button {
    background-color: #081b29;
    /* background-color: #041420; */
    border: none;
}


.button[disabled]:hover {
    background-color: #081b29;
}

.button:hover {
    background-color: #0f2537;
}

.circle {
    color: green;
}

.darkened {
    color: #30343b62;
}

input[type=text] {
    cursor: pointer;
    color: black;
}

input[type=text]:hover {
    background-color: rgb(219, 218, 218);
}

input[type=text]:focus {
    background-color: rgb(219, 218, 218);
    border: 2px solid #F65158;
}