@font-face {
    font-family: squidFont;
    src: url(game_of_squids/Game\ Of\ Squids.otf);
}

html>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: squidFont, 'Comic Neue', cursive;
}



html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #041420;
    gap: 6rem;
}

/* body>* {
    border: 1px solid white;
} */

.middle {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 800px; */
}


.middle>* {
    /* border: 1px solid white; */
    margin-bottom: 2rem;
}


.title {
    color: #F65158;
    text-align: center;
    font-size: 4rem;
}


.playervs {
    color: #F65158;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.playervs>* {
    /* border: 1px solid green; */
}

.gamebtn {
    width: auto;
    height: auto;
}

.markers {
    /* height: 50%;
    width: 50%; */
    color: #858585;
    font-size: 1rem;
    height: 500px;
    align-self: center;
    border-radius: 1rem;
    border: 2px solid #F65158;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.markers>* {
    /* border: 1px solid red; */
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.option {

    border-radius: 16px;
    width: 100%;
    height: 100%;
    color: red;
    justify-self: center;
}

button {
    border: 2px solid #858585;
    border-radius: 16px;
    width: 50%;
    height: 60%;
    color: red;
    justify-self: center;
}

.container {
    /* border: 1px solid red; */
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* grid-template-rows: repeat(3, auto); */
    position: relative;
    right: 11px;
}

.box {
    border: 5px solid #F65158;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box>p {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#box-1,
#box-2,
#box-0 {
    border-top: none;
}

#box-6,
#box-7,
#box-8 {
    border-bottom: none;
}


#box-0,
#box-3,
#box-6 {
    border-left: none;
}

#box-2,
#box-5,
#box-8 {
    border-right: none;
}



.circle {
    color: green;
}

.triangle {
    color: red;
}

.star {
    color: gold;
}

.umbrella {
    color: #0c6eb9;
}


.icon-inner {
    border: 1px solid white;
}

.button {
    background-color: #081b29;
    /* background-color: #041420; */
    border: none;
}

/* .button:hover:enabled {
    background-color: #0f2537;
} */

.button[disabled]:hover {
    background-color: #081b29;
}

.button:hover {
    background-color: #0f2537;
}

*:disabled {
    /* background-color: #b69797; */
    /* border: 2px solid #858585; */
    /* border: none; */

}